= form_for collection, html: { class: 'collection_form' } do |f|

  = render 'shared/form_errors', form: f

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  = f.submit 'Save', class: "btn btn-primary"
