%h1 Collections

%ul
  - @collections.each do |collection|
    %li
      = div_for collection do
        = collection.name
        |
        = link_to "New monument", new_collection_monument_path(collection)
        |
        = link_to "Edit", edit_collection_path(collection)
        |
        = link_to "Delete", collection_path(collection), method: :delete

        %ul
          - collection.monuments.each do |monument|
            %li
              = div_for monument do
                = monument.name
                - if monument.category_list.any?
                  Categories:
                  = monument.category_list.join ', '
                  |
                = link_to "Edit", edit_collection_monument_path(collection, monument)
