= form_for [collection, monument], html: { class: 'monument_form' } do |f|

  = render 'shared/form_errors', form: f

  = f.label :name do
    Name
    = f.text_field :name

  = f.label :description do
    Description
    = f.text_area :description

  = f.label :category_list do
    Category list
    = f.text_field :category_list

  = f.submit 'Save'
