%h1= "Pictures for #{@monument.name}"

%h2 Upload new picture

= render 'form', picture_info: @picture_info

- if @picture_infos.any?
  %h2 All pictures

  - @picture_infos.each do |picture_info|
    = picture_info.name
    = picture_info.description
