<!DOCTYPE html>
<html>
<head>
  <title>HelloMonument</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="main_menu" >
  <% if user_signed_in? %>
    <%= link_to "Collections", collections_path %> |
    <%= link_to "New collection", new_collection_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
